.statusProcessor * { transition: all .2s ease-in-out; }
.statusProcessor .story:hover {
	opacity:1 !important;
	transform:scale(1) !important;
	zoom:1 !important;
	border: none !important;
}
.statusProcessor .shared_link {
	opacity:0.8;
	transform:scale(0.9);
	zoom:0.8;
}
.statusProcessor .shared_photo {
	opacity:0.5;
	transform:scale(0.9);
	zoom:0.5;
}
.statusProcessor .shared_video {
	opacity:0.5;
	transform:scale(0.9);
	zoom:0.5;
}
.statusProcessor .own_content {
	opacity:1;
	transform:scale(1);
	zoom:1;
	border: black 1px dashed;
}
.statusProcessor .feeling {
	opacity:0.9;
	transform:scale(0.9);
	zoom:0.9;
}
.statusProcessor .added_photos {
	opacity:0.3;
	transform:scale(0.9);
	zoom:0.3;
}
.statusProcessor .was_tagged_photo,
.statusProcessor .was_tagged_photos,
.statusProcessor .was_tagged_this,
.statusProcessor .was_mentioned_post {
	opacity:0.3;
	transform:scale(0.9);
	zoom:0.3;
}
.statusProcessor .shared_post {
	opacity:0.5;
	transform:scale(0.9);
	zoom:0.5;
}
.statusProcessor .posted_updates {
	opacity:0.7;
	transform:scale(0.9);
	zoom:0.7;
}
.statusProcessor .shared_album {
	opacity:0.3;
	transform:scale(0.9);
	zoom:0.3;
}
.statusProcessor .check_in {
	opacity:0.9;
	transform:scale(0.9);
	zoom:0.9;
}
.statusProcessor .reacted_to_this {
	opacity:0.5;
	transform:scale(0.9);
	zoom:0.5;
}
.statusProcessor .commented_on_post,
.statusProcessor .commented_on_this,
.statusProcessor .replied_to_a_comment_on_this {
	opacity:0.5;
	transform:scale(0.9);
	zoom:0.5;
}
.statusProcessor .liked_this {
	opacity:0.5;
	transform:scale(0.9);
	zoom:0.5;
}
.statusProcessor .going_to_event,
.statusProcessor .went_to_event {
	opacity:1;
	transform:scale(1);
	zoom:1;
	border: black 1px dashed;
}
.statusProcessor .updated_profile_picture {
	opacity:0.9;
	transform:scale(0.9);
	zoom:0.9;
}
.statusProcessor .unknown {
	opacity:1;
	transform:scale(1);
	zoom:1;
	border: pink 0.5px dashed;
}
