.statusProcessor * { transition: all .2s ease-in-out; }

.statusProcessor .story:hover {
	opacity:1 !important;
	transform:scale(1) !important;
	zoom:1 !important;
	border: none !important;
}

.statusProcessor .story:hover img,
.statusProcessor .story:hover video
{
	opacity:1 !important;
}


.statusProcessor .status_unknown {
	opacity:1;
	transform:scale(1);
	zoom:1;
	border: pink 0.5px dashed;
}
.statusProcessor .status_own_content {
	opacity:1;
	transform:scale(1);
	zoom:1;
	border: black 1px dashed;
}

.statusProcessor .status_birthday {
	transform:scale(0.9);
	opacity:0.9;
	zoom:0.9;
}
.statusProcessor .status_shared {
	transform:scale(0.9);
	opacity:0.7;
	zoom:0.7;
}
.statusProcessor .status_updated {
	transform:scale(0.9);
	opacity:0.5;
	zoom:0.5;
}
.statusProcessor .status_added {
	transform:scale(0.9);
	opacity:0.5;
	zoom:0.5;
}
.statusProcessor .status_posted {
	transform:scale(0.9);
	opacity:0.7;
	zoom:0.7;
}
.statusProcessor .status_commented {
	transform:scale(0.9);
	opacity:0.6;
	zoom:0.6;
}
.statusProcessor .status_interested {
	transform:scale(0.9);
	opacity:0.8;
	zoom:0.8;
}
.statusProcessor .status_tagged {
	transform:scale(0.9);
	opacity:0.4;
	zoom:0.4;
}
.statusProcessor .status_mentioned {
	transform:scale(0.9);
	opacity:0.4;
	zoom:0.4;
}
.statusProcessor .status_like {
	transform:scale(0.9);
	opacity:0.8;
	zoom:0.8;
}
.statusProcessor .status_reacted {
	transform:scale(0.9);
	opacity:0.8;
	zoom:0.8;
}
.statusProcessor .status_going {
	transform:scale(0.9);
	opacity:0.9;
	zoom:0.9;
}
.statusProcessor .status_went {
	transform:scale(0.9);
	opacity:0.7;
	zoom:0.7;
}
.statusProcessor .status_feeling {
	transform:scale(0.9);
	opacity:0.7;
	zoom:0.7;
}
.statusProcessor .status_check_in {
	transform:scale(0.9);
	opacity:0.7;
	zoom:0.7;
}
.statusProcessor .status_live {
	transform:scale(0.9);
	opacity:0.9;
	zoom:0.9;
}
.statusProcessor .status_watching {
	transform:scale(0.9);
	opacity:0.7;
	zoom:0.7;
}
.statusProcessor .status_completed {
	transform:scale(0.9);
	opacity:0.4;
	zoom:0.4;
}

.statusProcessor .shared_video video {
	opacity:0.7;
}
.statusProcessor .shared_image img {
	opacity:0.5;
}
.statusProcessor .shared_text {
	opacity:1;
}
